<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
  1. namespace 는 Dao 인터페이스로 설정해야 한다.
  2. id는 Service 의 메소드 이름으로 매핑된다. 
  3. parameterType 은 VO 로 지정한다.
 -->
<mapper namespace="com.maju.k.univercity.UniversityDao">

<select id="select" resultType="com.maju.k.univercity.UniversityVO">
<![CDATA[
    select ssno, sname, year, sdept, emidterm, efinal, cname, prname
    from university
	]]> 
</select>

<select id="edit" resultType="com.maju.k.univercity.UniversityVO">
<![CDATA[
    select distinct ssno, sname, year, sdept
    from university where ssno = #{ssno}
	]]> 
</select>

<update id="update" parameterType="com.maju.k.univercity.UniversityVO"  >
  update  student set sname=#{sname}, year=#{year}, 
          sdept=#{sdept}
  where sno=#{sno}   
</update>



</mapper>